google-api-python-client==1.7.9
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.0

gspread
oauth2client
python-common-lib==1.0.6
google-api-wrapper2===1.0.5
setuptools~=59.5.0
httplib2
dataclasses-json
typing-extensions
youtube-dl
bs4
requests
requests-html
selenium

#for requests-html
appdirs

####TESTING
#pycryptodome
browser-cookie3

#for browser-cookie3
#keyring

